.cartContainer {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #000;
  padding: 0 1rem;
  color: #fff;
  font-weight: 600;
  font-size: 1.3rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  text-align: left;

  //   width:100%;
  .cartitems {
    width: 100%;
  
    .cart {
      display: flex;
      align-items: center;
      justify-content: center;
      .btn-ctn{
        display: flex;
        align-items:center;
      }
      div{
        position: relative;
        .delProduct{
          position: absolute;
          top: 25%;
          left:25%;
        }
          
      .img {
        width: 3rem;
        height: 3rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        opacity: 0.9;
      
        }
       
      }
    
      }
    

    .totalStyle {
      padding: 1rem 0;
      border-top: 1px solid #fff;
      text-align: right;
    }
    .btn-ctn {
      display: flex;
      justify-content: space-between;
      min-width: 5rem;
      .btn-quntity {
        padding: 0.5rem 0.2rem;
        font-size: 1rem;
        background-color: #fff;
        color: #000;
        border: none;
        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
    }
    .cart {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-evenly;
      padding-bottom: 1rem;
    }
  }
  span {
    padding: 0 0.5rem;
  }

  .topLeft {
    text-align: right;
    width: 100%;
    padding: 1rem 0;
  }
  .btnContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;

    .btn-end {
      padding: 0.5rem;
      border: none;
      outline: none;
      font-weight: 500;
      font-size: 1rem;
      &:hover {
        background-color: #000;
        color: #fff;
        border: none;
        outline: none;
      }
    }
  }
}

.widh {
  width: 21.5rem;
}
@media only screen and (max-width: 668px) {
  .cartContainer {
    width: 100%;
  }
}
